@model HotelCollection.Web.Models.PaymentTypeModel

<div class="card mb-4">
    <!-- Card header -->
    <div class="card-header">
        <h3 class="mb-0">Edit Payment Type</h3>
    </div>
    <!-- Card body -->
    <div class="card-body">
        <!-- Form groups used in grid -->
        <div class="row">
            <div class="col-md-10">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group row">

                        <label asp-for="CategoryId" class="col-md-2 col-form-label form-control-label">Category </label>
                        <div class="col-md-4">
                            <select asp-for="CategoryId" asp-items="@ViewBag.hotelCategory"
                                    class="form-control custom-select">
                                <option value="">Please select Hotel Category</option>
                            </select>
                        </div>
                        <label asp-for="Type" class="col-md-2 col-form-label form-control-label"> Payment Type </label>
                        <div class="col-md-4">
                            <input asp-for="Type" class="form-control" type="text" placeholder="Enter Fee">
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Update</button> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>