@model HotelCollection.Web.Models.LocalGovernmentAreaModel

<div class="card mb-4">
    <!-- Card header -->
    <div class="card-header">
        <h3 class="mb-0">Edit Local Government</h3>
    </div>
    <!-- Card body -->
    <div class="card-body">
        <!-- Form groups used in grid -->
        <div class="row">
            <div class="col-md-10">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="LGAName" class="col-md-2 col-form-label form-control-label">Name</label>
                        <div class="col-md-4">
                            <input asp-for="LGAName" class="form-control" type="text" placeholder="Enter Local Government Name">
                            <span asp-validation-for="LGAName" class="text-danger"></span>
                        </div>
                        
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Update</button> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>